<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코메 구하기</title>
    <link rel="stylesheet" href="../css/share.css" type="text/css">
</head>
<script>
    // 드롭다운 메뉴에서 옵션을 선택할 때마다 검색 함수 실행
    document.getElementById('search-dropdown').addEventListener('change', function() {
        search();
    });

    // 검색 기능을 처리하는 함수
    function search() {
        // 선택된 옵션 가져오기
        var selectedOption = document.getElementById('search-dropdown').value;
        
        // 여기에 검색 기능 실행하는 코드 추가
        console.log('선택된 옵션:', selectedOption);
        // 검색 결과를 화면에 표시하거나 검색 요청을 서버에 전송하는 등의 로직을 추가할 수 있습니다.
    }
</script>

<body>
    <div class="page-main">
        <div class="align-center"> <!--헤더-->
            코드메이트
        </div>
        <div class="content-main">
            <!--모집 구분-->
            <ul class="category">
                <li class="category-item">전체</li>
                <li class="category-item">프로젝트</li>
                <li class="category-item">스터디</li>
            </ul>
            <!--검색-->
            <div class="search-container">
                <select class="search-menu">
                    <option value="" disabled selected>기술 스택</option>
                    <option value="option1">옵션 1</option>
                    <option value="option2">옵션 2</option>
                    <option value="option3">옵션 3</option>
                    <!-- 필요한 만큼 옵션 추가 -->
                </select>
                <select class="search-menu">
                    <option value="" disabled selected>포지션</option>
                    <option value="option1">옵션 1</option>
                    <option value="option2">옵션 2</option>
                    <option value="option3">옵션 3</option>
                    <!-- 필요한 만큼 옵션 추가 -->
                </select>
                <select class="search-menu">
                    <option value="" disabled selected>진행 방식</option>
                    <option value="option1">옵션 1</option>
                    <option value="option2">옵션 2</option>
                    <option value="option3">옵션 3</option>
                    <!-- 필요한 만큼 옵션 추가 -->
                </select>
                <span class="search-menu">
                    내 북마크 보기
                </span>
                <span class="search-menu">
                    모집중 보기
                </span>
                <div class="search-menu">
                    제목, 글 내용을 검색해보세요.
                </div>
            </div>

            <!--모집글 리스트-->
            <ul id="r_board">
                <li class="r-item">
                    <div class="r-item-header">
                        <span>마감일 | </span>
                        <span>2024.05.20</span>
                    </div>
                    <div class="r-item-main">
                        <span>[프로젝트]</span>
                        <p>도서관 프로젝트 FE 팀원 모집합니다.</p>
                    </div>
                    <div>
                        <img src="../images/c++_logo.png" class="skill-logo">
                        <img src="../images/react_logo.png" class="skill-logo">
                    </div>
                    <div class="r-item-number">
                        <span>신청인원 | </span>
                        <span>30/5</span>
                    </div>
                </li>
                <li class="r-item">
                    <div class="r-item-header">
                        <span>마감일 | </span>
                        <span>2024.06.30</span>
                    </div>
                    <div class="r-item-main">
                        <span>[스터디]</span>
                        <p>취준/포폴) 약 알림 서비스 함께 만들어요...</p>
                    </div>
                    <div>
                        <img src="../images/c++_logo.png" class="skill-logo">
                        <img src="../images/react_logo.png" class="skill-logo">
                    </div>
                    <div class="r-item-number">
                        <span>신청인원 | </span>
                        <span>0/3</span>
                    </div>
                </li>
                <li class="r-item">
                    <div class="r-item-header">
                        <span>마감일 | </span>
                        <span>2024.07.25</span>
                    </div>
                    <div class="r-item-main">
                        <span>[프로젝트]</span>
                        <p>[ 취준용 / 재미용 ] ⚾️ 야구 덕후 사이드 프로젝트 - 직관 친구 구하기 APP 디자이너/ 백엔드 팀원 모집</p>
                    </div>
                    <div>
                        <img src="../images/c++_logo.png" class="skill-logo">
                        <img src="../images/react_logo.png" class="skill-logo">
                    </div>
                    <div class="r-item-number">
                        <span>신청인원 | </span>
                        <span>1/2</span>
                    </div>
                </li>
                <li class="r-item">
                    <div class="r-item-header">
                        <span>마감일 | </span>
                        <span>2024.07.25</span>
                    </div>
                    <div class="r-item-main">
                        <span>...</span>
                        <p>...</p>
                    </div>
                    <div>
                        <img src="../images/c++_logo.png" class="skill-logo">
                        <img src="../images/react_logo.png" class="skill-logo">
                    </div>
                    <div class="r-item-number">
                        <span>신청인원 | </span>
                        <span>0/0</span>
                    </div>
                </li>
                <li class="r-item">
                    <div class="r-item-header">
                        <span>마감일 | </span>
                        <span>2024.07.25</span>
                    </div>
                    <div class="r-item-main">
                        <span>...</span>
                        <p>...</p>
                    </div>
                    <div>
                        <img src="../images/c++_logo.png" class="skill-logo">
                        <img src="../images/react_logo.png" class="skill-logo">
                    </div>
                    <div class="r-item-number">
                        <span>신청인원 | </span>
                        <span>0/0</span>
                    </div>
                </li>
            </ul>

            <!--페이지 표시-->
            <div class="align-center">&lt; 1 2 3 4 5 6 &gt;</div>
        </div>
    </div>
</body>

</html>