@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/***************
메이트 프로필 모달 창
***************/

/********************************
/*모달창 제외한 나머지 페이지*/
*{
	font-family: "Noto Sans KR", sans-serif;
}
.center-image {
    display: block;
    margin: 0 auto;
}
#mate_review {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(71, 58, 58, 0.8);
}

/********************************
/* 모달 창*/
.mate_review_window {
    background: #ffffff;
    width: 600px;
    position: relative;
    border-radius: 15px;
    max-height: 80vh; /* 최대 높이를 설정 */
    overflow-y: auto; /* 수직 스크롤바를 추가 */
}

/********************************
/*모달 창 제목 바 DIV*/
.mate_review_title {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	background: #5ACA7C;
	border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

/*모달 창 제목 글자*/
.mate_review_title h2 {
	font-size: 13pt;
	margin:0;
	margin-left:10px;
}

/*메이트 프로필 모달 창 제목의 닫기 버튼*/
.mate_review_close {
	cursor: pointer;
	color: black;
}

/********************************
/*모달 창 본문 DIV*/
.content {
	margin-top: 20px;
	padding: 0px 10px;
	color: black;
}

/********************************
/* 프로필 (닉네임, 프사 있는 곳) DIV*/
.mate_review_profile {
	display: flex;
	align-items: center;
	height: 80px;
	padding-bottom: 20px;
}

/* 사용자 프사 */
.profile_image {
	margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* 동그라미 모양으로 설정 */
}

/*닉네임, 아이디 있는 div*/
.mr_account_nickname {
	margin-left: 15px;
}

.user_nickname {
    color: black;
    font-size: 16px; /* 통일된 폰트 크기 */
    font-weight: bold;
}

.user_id {
    color: #32B0FF;
    font-size: 14px;
}

/********************************/
/*리뷰 쓰기 컨텐츠란 전체 DIV*/
.mr_content_div {
	margin-left: 20px;
	padding-top: 5px;
	margin-right: 20px;
}

/*메이트 프로필에 쓰이는 내용란 (회색 박스) DIV*/
.mr_content {
	border-radius: 8px;
	background: #e0e0e0;
}

.mr_content p{
	padding: 15px;
}

#mr_content{
	border-radius: 8px;
	background: #e0e0e0;
	border-radius: 8px;
	background: #e0e0e0;
	border : none;
	width: 535px;
	height: 300px;
	margin: 0 auto;
}

button{
	cursor:pointer;
}

.user_level {
    font-weight: bold;
    background-color: #ccf7d9;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    width: 30px; /* 너비 조정 */
    height: 30px; /* 높이 조정 */
    text-align: center;
}

/*****************************/
/*버튼*/
.btn-div {
    display: flex;
    justify-content: space-between; /* 두 버튼을 좌우로 나란히 정렬합니다 */
    align-items: center; /* 버튼을 수직으로 중앙 정렬합니다 */
    margin-top: 25px;
    margin-bottom: 40px;
    
}


/*닫기 버튼*/
#close-btn, #submit-btn {
	background: black;
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;	
	text-align: center;
	border-radius: 30px;
	margin: 0 10px; /* 버튼 간격을 조정합니다 */
}

#close-btn {
	margin-right: 10px;
}

#submit-btn{
	margin-left: 10px;
}

#close-btn span, #submit-btn {
	color: white;
	 font-size: 14pt; 
}