td {
    font-weight: normal; /* 텍스트 굵기 */
}

table{
	background-color: white;
		
}

body{
	background-color: #F6F6F6;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
	padding-bottom: 15px;
}

ul li {
    display: inline-flex; 
    align-items: center; 
    width: 150px; 
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    margin-right: 15px;  
}

.board-icon {
    margin-right: 10px; 
}

span{
	font-size:10pt;
}

a.atag {
    text-decoration: none; /* 밑줄 제거 */
    font-weight: normal; /* 굵기 제거 */
    color:black;
}

.table-container{
	margin-top:50px;
}