@charset "UTF-8";

:root {
	--primary-clr: #ACE4BD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}

/* nice scroll bar */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary-clr);
	border-radius: 50px;
}

body {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
	background-color: #fff;
}

.container {
	position: relative;
	width: 1200px;
	min-height: 850px;
	margin: 0 auto;
	padding: 5px;
	color: #3D3D3D;
	display: flex;
	border-radius: 10px;
	background-color: #ACE4BD;
}

.left {
	width: 60%;
	padding: 20px;
}

.calendar {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #3D3D3D;
	border-radius: 5px;
	background-color: #F6F6F6;
}

/* set after behind the main element */
.calendar::before, .calendar::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	width: 12px;
	height: 97%;
	border-radius: 0 5px 5px 0;
	background-color: #E7E7E7;
	transform: translateY(-50%);
}

.calendar::before {
	height: 94%;
	left: calc(100% + 12px);
	background-color: #D1D1D1;
}

.calendar .month {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: capitalize;
}

.calendar .month .prev, .calendar .month .next {
	cursor: pointer;
}

.calendar .month .prev:hover, .calendar .month .next:hover {
	color: var(--primary-clr);
}

.calendar .weekdays {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 500;
	text-transform: capitalize;
}

.weekdays div {
	width: 14.28%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar .days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 20px;
}

.calendar .days .day {
	width: 14.28%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #8D8C8E;
	border: 1px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n+1) {
	border-radius: 10px;
	border-left: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n) {
	border-radius: 10px;
	border-right: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(-n+7) {
	border-radius: 10px;
	border-top: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(n+29) {
	border-bottom: 2px solid #f5f5f5;
	border-radius: 10px;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
	color: #fff;
	background-color: var(--primary-clr);
	border-radius: 10px;
}

.calendar .days .prev-date, .calendar .days .next-date {
	color: #b3b3b3;
	border-radius: 10px;
}

.calendar .days .active {
	border-radius: 10px;
	position: relative;
	font-size: 2rem;
	color: #fff;
	background-color: var(--primary-clr);
}

.calendar .days .active::before {
	border-radius: 10px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
	font-size: 2rem;
}

.calendar .days .event {
	position: relative;
}

.calendar .days .event::after {
	content: "";
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 75%;
	height: 6px;
	border-radius: 30px;
	transform: translateX(-50%);
	background-color: var(--primary-clr);
}

.calendar .days .day:hover.event::after {
	background-color: #fff;
}

.calendar .days .active.event::after {
	background-color: #fff;
	bottom: 20%;
}

.calendar .days .active.event {
	padding-bottom: 10px;
}

.calendar .goto-today {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 0 20px;
	margin-bottom: 20px;
	color: var(--primary-clr);
}

.calendar .goto-today .goto {
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 20px;
	color: var(--primary-clr);
	border-radius: 5px;
}

.calendar .goto-today button {
	padding: 5px 10px;
	border: 2px solid var(--primary-clr);
	background-color: var(--primary-clr);
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	color: #3D3D3D;
}

.calendar .goto-today button:hover {
	color: #fff;
	background-color: var(--primary-clr);
}

.calendar .goto-today .goto button {
	border-radius: 0;
}

.container .right {
	position: relative;
	width: 40%;
	min-height: 100%;
	padding: 20px 0;
}

.right .today-date {
	width: 100%;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	padding-left: 70px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.right .today-date .event-day {
	font-size: 2rem;
	font-weight: 500;
}

.right .today-date .event-date {
	font-size: 1rem;
	font-weight: 400;
	color: #3D3D3D;
}

.events {
	width: 100%;
	height: 100%;
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding-left: 4px;
}

.events .event {
	position: relative;
	width: 95%;
	min-height: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	padding: 0 20px;
	padding-left: 50px;
	color: #fff;
	background: linear-gradient(90deg, #3f4458, transparent);
	cursor: pointer;
}

/* even event */
.events .event:nth-child(even) {
	background: transparent;
}

.events .event:hover {
	background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.events .event .title {
	display: flex;
	align-items: center;
	pointer-events: none;
}

.events .event .title .event-title {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 20px;
}

.events .event i {
	color: var(--primary-clr);
	font-size: 0.5rem;
}

.events .event:hover i {
	color: #fff;
}

.events .event .event-time {
	font-size: 0.8rem;
	font-weight: 400;
	color: #878895;
	margin-left: 15px;
	pointer-events: none;
}

.events .event:hover .event-time {
	color: #fff;
}

/* add tick in event after */
.events .event::after {
	content: "✓";
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 3rem;
	line-height: 1;
	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0.3;
	color: var(--primary-clr);
	transform: translateY(-50%);
}

.events .event:hover::after {
	display: flex;
}

.add-event {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	color: #3D3D3D;
	border: 2px solid #3D3D3D;
	opacity: 0.5;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

.add-event:hover {
	opacity: 1;
}

.add-event i {
	pointer-events: none;
}

.events .no-event {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: #3D3D3D;
}

.add-event-wrapper {
	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 90%;
	max-height: 0;
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff;
	transform: translateX(-50%);
	transition: max-height 0.5s ease;
}

.add-event-wrapper.active {
	max-height: 300px;
}

.add-event-header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	color: #3D3D3D;
	border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
	font-size: 1.5rem;
	cursor: pointer;
}

.add-event-header .close:hover {
	color: var(--primary-clr);
}

.add-event-header .title {
	font-size: 1.2rem;
	font-weight: 500;
}

.add-event-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
}

.add-event-body .add-event-input {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.add-event-body .add-event-input input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #f5f5f5;
	padding: 0 10px;
	font-size: 1rem;
	font-weight: 400;
	color: #3D3D3D;
}

.add-event-body .add-event-input input::placeholder {
	color: #a5a5a5;
}

.add-event-body .add-event-input input:focus {
	border-bottom: 1px solid var(--primary-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
	color: var(--primary-clr);
}

.add-event-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.add-event-footer .add-event-btn {
	height: 40px;
	font-size: 1rem;
	font-weight: 500;
	outline: none;
	border: none;
	color: #fff;
	background-color: var(--primary-clr);
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid var(--primary-clr);
}

.add-event-footer .add-event-btn:hover {
	background-color: transparent;
	color: var(--primary-clr);
}

/* media queries */
@media screen and (max-width: 1000px) {
	body {
		align-items: flex-start;
		justify-content: flex-start;
	}
	.container {
		min-height: 100vh;
		flex-direction: column;
		border-radius: 0;
	}
	.container .left {
		width: 100%;
		height: 100%;
		padding: 20px 0;
	}
	.container .right {
		width: 100%;
		height: 100%;
		padding: 20px 0;
	}
	.calendar::before, .calendar::after {
		top: 100%;
		left: 50%;
		width: 97%;
		height: 12px;
		border-radius: 0 0 5px 5px;
		transform: translateX(-50%);
	}
	.calendar::before {
		width: 94%;
		top: calc(100% + 12px);
	}
	.events {
		padding-bottom: 340px;
	}
	.add-event-wrapper {
		bottom: 100px;
	}
}

@media screen and (max-width: 500px) {
	.calendar .month {
		height: 75px;
	}
	.calendar .weekdays {
		height: 50px;
	}
	.calendar .days .day {
		height: 40px;
		font-size: 0.8rem;
	}
	.calendar .days .day.active, .calendar .days .day.today {
		font-size: 1rem;
	}
	.right .today-date {
		padding: 20px;
	}
}

.goto-btn {
	width: 30%;
	padding: 5px 10px;
	border: 2px solid var(--primary-clr);
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	font-weight: bold;
	color: black;
}

.event.completed {
	text-decoration: line-through;
}

/* 팀 NAV */
.left-outer {
	z-index: 1000;
	background-color: #E7E7E7;
	border-radius: 0 30px 30px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 275px;
	height: 100vh;
	overflow: auto;
}

.menu-bar {
	margin-top: 329px;
	width: 100%;
	padding-top: 20px;
}

.menu-item {
	padding: 15px 20px;
	color: #333333;
	text-decoration: none;
	display: block;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

.menu-item:hover {
	background-color: #f5f5f5;
}

.profile {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 237px;
	height: 229px;
	border-radius: 16px;
	opacity: 1;
	background: #FFFFFF;
	margin-top: 35px;
	margin-left: 19px;
	margin-right: 19px;
}

#profile-img {
	position: absolute;
	left: 89px;
	top: 39px;
	width: 23%;
	height: 23%;
	object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.team_status {
	position: absolute;
	width: 40px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
	font-variation-settings: "opsz" auto;
	color: #3D3D3D;
	text-align: center;
	border-radius: 294px;
	opacity: 1;
	background: #D8D8D8;
	top: 105px;
	left: 97px;
}

.team_nickname {
	position: absolute;
	top: 135px;
	left: 88px;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0em;
	font-variation-settings: "opsz" auto;
	color: #3D3D3D;
}

#post_icon {
	position: absolute;
	left: 60px;
	top: 180px;
	width: 7%;
	height: 7%;
}

.my_post {
	position: absolute;
	width: 52px;
	height: 14px;
	left: 84px;
	top: 180px;
	font-size: 10px;
	font-weight: bold;
	line-height: normal;
	letter-spacing: 0em;
	font-variation-settings: "opsz" auto;
	color: #3D3D3D;
}

.my_post_cnt {
	position: absolute;
	width: 21px;
	height: 14px;
	left: 140px;
	top: 180px;
	font-size: 10px;
	font-weight: bold;
	line-height: normal;
	text-align: right;
	letter-spacing: 0em;
	font-variation-settings: "opsz" auto;
	color: #3D3D3D;
}

#mem_container {
    position: fixed;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 20px;
    color: #3D3D3D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

.mem_personal {
    position: relative;
    width: 300px;
    height: 200px;
    padding: 20px;
    color: #3D3D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 60px;
}

.mem_personal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.team_mem_profile_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team_setting_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.setting_btn {
    width: 100%;
    height: 100%;
}

.team_mem_status {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.team_mem_nickname {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.dropdown_menu {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 20px; /* 버튼과 같은 높이로 맞춤 */
    left: 100%; /* 오른쪽에 위치하게 설정 */
    margin-left: 10px; /* 버튼과 드롭다운 사이의 간격 */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px; /* 넓이 설정 */
}

.dropdown_menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.dropdown_menu a:hover {
    background-color: #f1f1f1;
}

#mem_delete_btn {
    color: #FF4934;
}

#mem_auth_btn {
    color: #326BFF;
}

.dropdown_menu a:first-child {
    color: #969696;
}

/* 테이블 스타일 */
table {
    width: 1180px; /* 전체 테이블 너비 증가 */
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
th {
    background-color: #f2f2f2; /* 헤더 배경색 */
    padding: 10px;
    text-align: center;
}

/* 테이블 셀 스타일 */
td {
    padding: 10px;
    text-align: center;
}

/* 번호 칼럼 스타일 */
td:nth-child(1) {
    width: calc(100px / 590px * 1180px); /* 비율에 맞게 계산 */
}

/* 제목 칼럼 스타일 */
td:nth-child(2) {
    width: calc(590px / 590px * 1180px); /* 비율에 맞게 계산 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 작성자 칼럼 스타일 */
td:nth-child(3) {
    width: calc(158px / 590px * 1180px); /* 비율에 맞게 계산 */
}

/* 조회수 칼럼 스타일 */
td:nth-child(4) {
    width: calc(100px / 590px * 1180px); /* 비율에 맞게 계산 */
}

/* 작성일 칼럼 스타일 */
td:nth-child(5) {
    width: calc(140px / 590px * 1180px); /* 비율에 맞게 계산 */
}


/* 버튼 컨테이너 스타일 */
.button-container {
    text-align: right; /* 오른쪽 정렬 */
    margin-bottom: 20px; /* 버튼과 테이블 사이 여백 */
}

/* 글쓰기 버튼 스타일 */
.write-button {
    display: inline-block;
    font-weight : bold;
    font-size : 13px;
    padding: 10px 20px;
    background-color: var(--primary-clr);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.write-button:hover {
    color:#000;
}

#mate_review {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(71, 58, 58, 0.8);
}

/********************************
/* 모달 창*/
.mate_review_window {
    background: #ffffff;
    width: 600px;
    position: relative;
    border-radius: 15px;
    max-height: 80vh; /* 최대 높이를 설정 */
    overflow-y: auto; /* 수직 스크롤바를 추가 */
}

/********************************
/*모달 창 제목 바 DIV*/
.mate_review_title {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	background: #5ACA7C;
	border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

/*모달 창 제목 글자*/
.mate_review_title h2 {
	font-size: 13pt;
	margin:0;
	margin-left:10px;
}

/*메이트 프로필 모달 창 제목의 닫기 버튼*/
.mate_review_close {
	cursor: pointer;
	color: black;
}

/********************************
/*모달 창 본문 DIV*/
.content {
	margin-top: 20px;
	padding: 0px 10px;
	color: black;
}

/********************************
/* 프로필 (닉네임, 프사 있는 곳) DIV*/
.mate_review_profile {
	display: flex;
	align-items: center;
	height: 80px;
	padding-bottom: 20px;
}

/* 사용자 프사 */
.profile_image {
	margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* 동그라미 모양으로 설정 */
}

/*닉네임, 아이디 있는 div*/
.mr_account_nickname {
	margin-left: 15px;
}

.user_nickname {
	color: black;
	font-size: 14pt;
	font-weight: bold;
}

.user_id {
	color: #32B0FF;
}


/********************************/
/*리뷰 쓰기 컨텐츠란 전체 DIV*/
.mr_content_div {
	margin-left: 20px;
	padding-top: 5px;
	margin-right: 20px;
}

/*메이트 프로필에 쓰이는 내용란 (회색 박스) DIV*/
.mr_content {
	border-radius: 8px;
	background: #e0e0e0;
}

.mr_content p{
	padding: 15px;
}

#mr_content{
	border-radius: 8px;
	background: #e0e0e0;
	border-radius: 8px;
	background: #e0e0e0;
	border : none;
	width: 535px;
	height: 300px;
	margin: 0 auto;
}


/*****************************/
/*버튼*/
.btn-div {
    display: flex;
    justify-content: space-between; /* 두 버튼을 좌우로 나란히 정렬합니다 */
    align-items: center; /* 버튼을 수직으로 중앙 정렬합니다 */
    margin-top: 25px;
    margin-bottom: 40px;
    
}


/*닫기 버튼*/
#close-btn, #submit-btn {
	background: black;
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;	
	text-align: center;
	border-radius: 30px;
	margin: 0 10px; /* 버튼 간격을 조정합니다 */
}

#close-btn {
	margin-right: 10px;
}

#submit-btn{
	margin-left: 10px;
}

#close-btn span, #submit-btn {
	color: white;
	 font-size: 14pt; 
}