@charset "utf-8";
/* 공통 */
* {
	margin: 0px;
	padding: 0px;
}
ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	font-weight:bold;
}
/* 헤더 위치 */
div #main_logo{
	font-size:2em;
	text-align:center;
	position:relative;
	top:20px;
}

ul#option{
	text-align:left;
	position:absolute;
	top:20px; left:10px;
}

#login{
	text-align:right;
	position:absolute;
	top:20px; right:40px;
	list-style:none;
}
/* 헤더 색*/
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}
