@charset "utf-8";

/* 공통 */
* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration:none;
	font-family:sans-serif;
	font-weight:bold;
}


/* 광고배너 */
div.container{
	position:absolute;
	top:600px;
}

