/* 공통 스타일 */
body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.align-center {
    text-align: center;
}

/* 로고 스타일 */
#login_logo {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: bold;
}

#logo_pic_login {
    position: relative;
    top: 20px;
}
#find_main{
	text-align:center;
}

h2{
	position:relative;
	top:100px; left:10px;
}
#btn{
 	margin:0 auto;
	position:relative;
	bottom:480px; 
	width:400px;
} 
button#Id{
	position:relative;
	right:10px;
	font-size:16px;
	background:none;
	border:none;
	width:80px;
	height:50px;
}
button#Id:hover{
	color:#ccc;
}
button#Pw{
	width:150px;
	position:relative;
	left:80px;
	font-size:16px;
	background:none;
	border:none;
	height:50px;
}
button#Pw:hover{
	color:#ccc;
}
#w{
	width:400px;
}
.btnHr{
	position:relative;
	left:20px;
	width:100%;
	z-index:1;
}
#btnHr_click{
	position:relative;
	left:20px;
	width:50%;
}
/* 슬라이더 */
.slider-container {
	position:relative;
	top:175px; left:15px;
	margin-top: 10px;
	width: 400px; /* 컨테이너 너비 */
	height: 600px; /* 컨테이너 높이 */
	overflow: hidden; 
	margin: 0 auto; /* 가운데 정렬 */
}
.slider-wrapper {
	display: flex;
	height: 100%;
	width: 400px;
}

.slide {
	margin-top: 10px;
	width: 100%; /* 슬라이드 너비 */
	flex-shrink: 0;
	height:400px;
}

input{
	width: 90%;
	height: 40px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin:10px auto !important;
}
button[type="submit"]{ 	
	position:relative;
	right:8px; top:30px;
	background-color:black;
	color:white;
	margin-top: 30px;
	margin-left : 10px;
	width: 90%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  .canc{
  	position:relative;
  	top:30px; left:5px;
 	border-radius:5px;
 	margin-top: 30px;
  	margin-left : 10px;
    width: 85%;
    padding: 10px;
    font-size: 16px;
    border: solid 1px;
    background:none;
 }

/* 계정찾기 공통 */
.line{
	position: absolute;
    left: 50%; top:30%;	
    transform: translateX(-50%);
	width:25%;
}
.check{
	position: absolute;
    left: 50%; top:25%;	
    transform: translateX(-50%);
    font-size:20px;
}
.tryAgain_btn{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
 	border-radius:5px;
 	margin-top:30px;
   	width:408px;
    padding: 10px;
    font-size: 16px;
    border: solid 1px;
    background:none;
}
/* 아이디 찾기 */
#yourID{
	position: absolute;
    left: 50%; top:40%;	
    transform: translateX(-50%);
}
#IDnotFound{
	position: absolute;
    left: 50%; top:40%;	
    transform: translateX(-50%);
}

/* 비밀번호 찾기 */
#PwNotFound{
	position: absolute;
    left: 50%; top:40%;	
    transform: translateX(-50%);
}
.input-check{
	display:flex;
	width:25%;
	position:relative;
	bottom:10px;

}
#pwCancel{
	transform:translate3d(-50%,250%,0);
}
#pw_btn{
	position:relative;
	left: 34.5%; top:30px;
	border-radius:5px;
 	margin-top:30px;
   	width:408px;
    padding: 10px;
    font-size: 16px;
    border: solid 1px;
    background:black;
    color:white;	  
}
/*  */
#LoginImp{
	position: absolute;
    left: 50%; top:40%;	
    transform: translateX(-50%);
}



        