@charset "utf-8";

/* 공통 스타일 */
:root {
    --primary-color: #000;
    --hover-color: #ccc;
    --gray-4: #bfbfbf;
    --gray-7: #3f3f3f;
    --font-size: 16px;
    --button-height: 50px;
    --input-height: 40px;
    --container-width: 400px;
    --container-height: 440px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.align-center {
    text-align: center;
}

#login_logo {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#logo_pic_login {
    position: relative;
    top: 20px;
}

#find_main {
    text-align: center;
}

#btn {
    margin: 0 auto;
    width: var(--container-width);
} 

button#Id, button#Pw {
    position: relative;
    font-size: var(--font-size);
    background: none;
    border: none;
    height: var(--button-height);
    cursor: pointer;
}

button#Id {
    right: 10px;
    width: 80px;
}

button#Pw {
    left: 80px;
    width: 150px;
}

button#Id:hover, button#Pw:hover {
    color: var(--hover-color);
}

#w {
    width: var(--container-width);
}

.btnHr {
    position: relative;
    left: 20px;
    width: 100%;
    z-index: 1;
}

#btnHr_click {
    position: relative;
    left: 20px;
    width: 50%;
}

.slider-container {
    width: var(--container-width);
    height: var(--container-height);
    overflow: hidden;
    margin: 0 auto;
}

.slider-wrapper {
    display: flex;
    height: 100%;
    width: var(--container-width);
}

.slide {
    margin-top: 10px;
    width: 100%;
    flex-shrink: 0;
    height: 400px;
}

input {
    width: 90%;
    height: var(--input-height);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto !important;
}

button[type="submit"] {
    position: relative;
    right: 8px;
    top: 30px;
    background-color: #326BFF;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
    width: 90%;
    padding: 10px;
    font-size: var(--font-size);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    transform: scale(1.02);
}

.canc {
	background-color: #ccc;
    color: #fff;
    position: relative;
    top: 30px;
    right: 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    padding: 10px;
    font-size: var(--font-size);
    border: none;
    cursor: pointer;
    width: 90%;
    height: 45px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.canc:hover {
    transform: scale(1.02);
}
	

.line {
    position: absolute;
    left: 50%;
    top: 30%;    
    transform: translateX(-50%);
    width: 25%;
}

.check {
    position: absolute;
    left: 50%;
    top: 25%;    
    transform: translateX(-50%);
    font-size: 20px;
}

.tryAgain_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: 30px;
    width: 408px;
    padding: 10px;
    font-size: var(--font-size);
    border: solid 1px;
    background: none;
    cursor: pointer;
}

.tryAgain_btn:hover {
    color: var(--gray-4);
}

#yourID, #IDnotFound, #PwNotFound, #LoginImp, .check1 {
    position: absolute;
    left: 50%;
    top: 40%;    
    transform: translateX(-50%);
}

.input-check {
    display: flex;
    width: 25%;
    position: relative;
    bottom: 50px;
}

#pwCancel {
    transform: translate3d(-50%, 160%, 0);
}

#pw_btn {
    position: relative;
    left: 34.5%; 
    border-radius: 5px;
    width: 408px;
    padding: 10px;
    font-size: var(--font-size);
    border: solid 1px;
    background: var(--primary-color);
    color: white;    
    cursor: pointer; 
    height: 45px; 
}

