@charset "UTF-8";

/* 공통 정렬
---------------------*/
.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* 공통 버튼
---------------------*/
.btn {
	cursor: pointer;
	padding: 8px 15px;
	margin: 0 4px;
	border-radius: 16px;
	border: none;
	width: 120px;
}

.btn-basic {
	box-shadow: 1px 1px 3px #b8b8b8;
	background-color: #5aca7c;
	color: white;
}

.btn-basic:hover {
	cursor: pointer;
	background-color: #54ba73;
}

.btn-cancel {
	box-shadow: 1px 1px 3px #b8b8b8;
	background-color: #c0c0c0;
	color: white;
}

.btn-cancel:hover {
	cursor: pointer;
	background-color: #a5a5a5;
}

/* result_view_two_btn 페이지
---------------------*/
.content-main-div {
	margin-top: 200px;
}

.content-main-div .content-main-msg {
	margin-top: 10px;
}

.content-main-div .btn-div {
	margin-top: 50px;
}