@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

#flex_container {
	display: flex;
	align-items: center; /* 수직 정렬 */
	height: 100vh; /* 전체 높이 */
}
	
#flex_container .float-B {
	width: 100%;
	margin: 0 auto; /* 수평 중앙 정렬 */
	margin-top: 35px; /* 기존 상단 여백 */
}

.align-center {
	text-align: center;
}

/*검색 부분*/
.search {
	display: flex;
	justify-content: center; /* 검색창 중앙 정렬 */
	margin-bottom: 50px; /* 검색창 하단 여백 */
}

.search li {
	display: inline-block;
}

table#search_result {
	align-content: center;
	margin: 30px auto;
}

/*결과 표시*/
#manage_members_form {
	margin: 20px auto;
}

td, th {
	padding: 0 6px;
}