@charset "UTF-8";
.team-left{
	margin-left: 10px;
	width:500px;
	margin-top: 10px;
}
.team-right{
	float:right;
	width:200px;
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
}
.team-right-myTeam{
	float:right;
	width:200px;
	font-size: 12px;
	margin-top: 22px;
	font-weight: bold;
}
.skill_font_T{
	font-size:13px;
	color:#636363;
	font-weight: bold;
	margin-bottom: 3px;
}
.team-count{
	margin-bottom: 5px;
}
/* 신청 취소 */
.delete-green{
	color:#5aca7c;
	margin-bottom: 5px;
	width:70px;

}
/*
myPageMoshin.jsp
내 프로젝트 모집 참가 지원서 페이지*/
.myPage-line-box-moshin{
	border-radius: 15px;
	width:750px;
	height:250px;
	border: 1px solid #8f8f8f;
	margin-left: 45px;
}
.profile_mypage{
	margin-left: 25px;
	margin-top: 20px;
}
.profile_pic_mypage{
	border-radius: 50px;
	margin-right: 10px;
	float:left;
}
.nickname_mypage{
	float:left;
	margin-top: 8px;
	font-weight: bold;
}
.mypage_clob{
	margin-top: 40px;
}
.shin-text{
	font-size: 15px;
	font-weight: bold;
}
.mo_check{
	float:right;
	width:70px;
	margin-right: 30px;
}
.yes{
	float:left;
	margin-right: 3px;
}
.bar{
	float:left;
}
.no{
	float:left;
	margin-left: 3px;
}
.content{
	width:700px;
}