@charset "UTF-8";
.team-left{
	margin-left: 10px;
	width:500px;
	margin-top: 10px;
}
.team-left-myWrite{
	margin-right:10px;
	width:500px;
	margin-top: 8px;
}
.team-left-myRcomment{
	margin-right:10px;
	width:500px;
	/* margin-top: 30px; */
}

.team-right{
	float:right;
	width:200px;
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
}
.team-right-mo{
	float:right;
	width:200px;
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}
.team-right-myTeam{
	float:right;
	width:200px;
	font-size: 12px;
	margin-top: 22px;
	font-weight: bold;
}
.skill_font_T{
	font-size:13px;
	color:#636363;
	font-weight: bold;
	margin-bottom: 3px;
	margin-left: 3px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
}
.team-count{
	margin-bottom: 5px;
}
/* 신청 취소 */
.delete-green{
	color:#fff;
	margin-bottom: 5px;
	width:70px;
	height:20px;
	float:right;
	background-color: red;
	text-align: center;
	border-radius: 30px;
}
.rboard-click{
	color:#fff;
	margin-bottom: 5px;
	width:70px;
	height:20px;
	float:right;
	background-color: #5aca7c;
	text-align: center;
	border-radius: 30px;
	border: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 8px;
	cursor: pointer;
}
.close-green{
	color:#fff;
	margin-bottom: 5px;
	width:70px;
	height:20px;
	float:right;
	background-color: #5aca7c;
	text-align: center;
	border-radius: 30px;
}
.count{
	width:120px;
}
.count-myPageShin{
	width:130px;
}
.right{
	float:right;
	width:70px;
}
/*
myPageMoshin.jsp
내 프로젝트 모집 참가 지원서 페이지*/
/* .myPage-line-box-moshin{
	border-radius: 15px;
	width:750px;
	height:150px;
	border: 1px solid #8f8f8f;
	margin-left: 90px;
	margin-bottom: 30px;
} */

.myPage-line-box-moshin {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #8f8f8f;
    margin: 0 auto 20px;
    width: 800px;
    box-sizing: border-box;
}

.content {
    width: 100%; /* 부모 요소의 크기를 초과하지 않도록 설정 */
    word-wrap: break-word; /* 긴 단어나 URL을 줄 바꿈 */
    white-space: pre-wrap; /* 공백을 유지하고 줄 바꿈 허용 */
    overflow-wrap: break-word; /* 긴 단어를 다음 줄로 이동 */
    margin-bottom: 20px;
}

.mypage_clob {
    margin-top: 40px;
    margin-right: 20px;
    width: 100%;
}
/* .content{
	width:700px;
} */


.profile_mypage{
	padding: 4%;
}

.profile_mypage .rb-title {
	margin-bottom: 2%;
	font-weight: bold;
	font-size: 14pt;
}
.profile_pic_mypage{
	border-radius: 50px;
	margin-right: 10px;
	float:left;
}
.nickname_mypage{
	float:left;
	margin-top: 8px;
	font-weight: bold;
}

.shin-text{
	font-size: 15px;
	font-weight: bold;
}
.mo_check{
	float:right;
	width:130px;
	/* margin-right: 30px; */
}
.yes {
    float: left;
    background-color: #5aca7c;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.no {
    float: right;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-right: 15px;
    cursor: pointer;
}

/*나의 모집신청 y/n클릭,호버*/
.yes:hover, .no:hover {
    font-weight: bold;
    cursor: pointer;
}
.yes.clicked, .no.clicked {
    font-weight: bold;
}
/* 나의 모집 페이지 활성화 버튼*/



.cboard_name{
	font-size: 14px;
	margin:2px 0 2px  0;
}

.myApply-write {
    width: 500px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 글이 한 줄로 유지되도록 설정 */
}
/* 마이페이지 나의 내역이 존재하지 않을때 뜨는 메세지 */
.none_message{
	text-align: center;
	margin-top: 10%;
}

/*마이페이지 팀원구하기 댓글*/
.rboardApply-font{
	font-size: 18px;
    font-weight: bold;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
    margin: 20px 0 5px 0;
}
