@charset "UTF-8";
/* 사이드 시작============*/
.float-A{
 	/* margin:8px; */
 	margin-top:40px;
	width:30%;
	height:600px;
}
.myCount a {
    display: block; /* 줄바꿈 효과를 위해 블록 요소로 설정 */
    margin-bottom: 20px;
    text-decoration: none; /* 링크 밑줄 제거 (선택 사항) */
    color: inherit; /* 링크 색상 상속 (선택 사항) */
    font-size: 15px;
}
.myCount a.sideB_font {
    font-size: 20px;
    font-weight: bold;
}
/* 호버 기능 추가 - 제외할 항목들을 제외한 나머지 a 태그에만 적용 */
.myCount a:not(.no-hover):hover {
    font-weight: bold;
    color: black;
}
/*사이드 끝================*/
#flex_container {
	display: flex;
	justify-content: center;
}

#flex_container .float-B {
	width: 80%;
	margin-right: 190px;
	margin-top: 35px;
}
/* 메인 myPage============*/

.align-center{/*myPage에 글자 타이틀*/
	text-align: center;
}

.input-check {
	width:250px;
    height: 35px;
    
    /* 모서리 둥글게 */
    border-radius: 5px;
    
    /* 테두리 스타일 */
    border: 1px solid #8f8f8f;
    
    /* 글꼴 스타일 */
    font-size: 16px;
    font-weight: bold;
    
    margin-bottom: 10px; /* 각 input 간에 여백 추가 */
}
.save_btn {
	width:250px;
    height: 50px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}
.small-font{
	font-size: 15px;
    color: #8f8f8f;
    margin-top: -18px;
}
.mYPage-TitleText{
	font-size: 30px;
	margin-bottom: 40px;
}
/*메인 끝================*/

/*myWrite*/
#flex_container .float-C {/* 추가하면 사이드바 위치 고정*/
	width: 80%;
	margin-right: 190px;
	margin-top: 35px;
}
/* 내가 쓴 글 시작 */
.box {
	margin: 0 auto;
    margin-top:30px;
    border-radius: 15px;
    width: 700px;
    height: 90px;
    background: #d4d4d4;
}
.box-wirte{
	float:left;
	width:530px;
    padding-left: 20px;
    width:510px;
    
}
.myWrite-board-name{
	width:150px;
	font-size: 13px;
	margin-top: 10px;
}
.myWrite-Title{
	font-size: 18px;
    font-weight: bold;
}
.fav-reply{
	margin-top: 3px;
	font-size: 12px;
}

.rcomment{
	margin-top: 12px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden; /* 내용이 넘치는 경우 가려짐 */
    text-overflow: ellipsis; /* 넘치는 내용을 "..."으로 표시 */
    max-width: 700px;
}
.myWrite-fav{
	width:80px;
	float:left;
}
.myWrite-reply{
	width:80px;
	float:left;
}
.btn_box_write {
	float:right;
	margin-top:28px;
	margin-left:35px;
	margin-right:10px;
	width:130px;
	cursor: pointer;
}
/* 내가 쓴 글 끝  */
.box_reply {
	margin:0 auto;
    margin-top:50px;
    border-radius: 15px;
    width: 700px;
    height: 80px;
    background: #d4d4d4;
}
.write-box {
	padding-top:25px;
	width:530px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.write_reply {
	float:left;
	padding-top:25px;
	width:530px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
} 
 


.styled-select {
	margin-left:85px;
	margin-bottom: 2%;
	text-align:center;
    background-color: #f0f0f0;
    border-radius: 30px;
    font-size: 13px;
	height:30px;
    width: 120px;
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 설정 */
}

.btn_box {
	float:right;
	margin-top:22px;
	margin-right:10px;
	width:130px;
}

.myUpdate_btn,
.myDelete_btn {
    width: 60px;
    height: 35px;
    background-color: #5aca7c;
    color: white;
    border-radius: 20px;
    border:none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.myDelete_btn {
	margin-left:5px;
    background-color: #FF2910;
}
.myConsultDelete_btn{
	width: 60px;
    height: 35px;
    background-color: #FF2910;
    color: white;
    border-radius: 20px;
    border:none;
    font-size: 13px;
    font-weight: bold;
    margin-left: 69px;
}
/* 참여중인 팀 */
.myPage-line-box{
	display: flex;
	justify-content: center;
	border-radius: 15px;
	width:750px;
	height:88px;
	border: 1px solid #8f8f8f;
	margin: 0 auto;
	margin-bottom: 3%;
	cursor: pointer;
}

.myPage-line-box:hover {
    background-color: #f0f0f0;
}
.projectName_font {
    font-size: 22px;
    font-weight: bold;
    width:500px;
}
.board_name{
	font-size: 13px;
	margin-top: 6px;
	
}
/*글자가 길어지면 ...처리*/
.projectName_font {
    font-size: 22px;
    font-weight: bold;
    width:500px;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 내용이 넘치는 경우 가려짐 */
    text-overflow: ellipsis; /* 넘치는 내용을 "..."으로 표시 */
    max-width: 700px; /* 최대 너비 지정 */
}
.rconten_font {
	margin-top:10px;
    font-size: 22px;
    font-weight: bold;
    width:500px;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 내용이 넘치는 경우 가려짐 */
    text-overflow: ellipsis; /* 넘치는 내용을 "..."으로 표시 */
    max-width: 700px; /* 최대 너비 지정 */
}
/*마이페이지 나의 정보 사진 버튼*/
.photo_btn_style{
	width: 35px;
    height: 26px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    border: none; 
    
}
.photo_btn_style:hover {
    background-color: #5aca7c;
}
input[type=file]::file-selector-button{
	width: 35px;
    height: 26px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    border: none;
}
input[type=file]::file-selector-button:hover{
	background-color: #5aca7c;
}
/*문의글 상세보기*/
.myConsult{
	margin-top: 15px;
}
.consult-write{
	margin-top: 10px;
	margin-bottom: 10px;
}
.c_bold{
	font-weight: bold;
}
/*레벨 사진*/
.level-photo {
	position: absolute;
    top: -10px;
    right: -20px;
    width:60px;
}
