@charset "UTF-8";

/*페이지 설정*/
html {
	margin-bottom: 60px;
}

.align-center {
	text-align: center;
}

#r_btn_div.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#r_btn_div .btn {
	margin-right: 20px;
	height: 42px;
	border-radius: 20px;
}

/* rboardList */
.category .category-item {
	display: inline;
	width: 50px;
}

.skill-logo {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50px;
	padding: 2px;
	border: 1px solid #b8b8b8;
}

/* 검색옵션 */
select.search-menu.selected, div.search-menu.selected, #search_key_div.selected
	{
	color: #57d47d;
	border: 1px solid #57d47d;
	font-weight: 700;
}

select.search-menu.selected:focus {
	color: #57d47d;
	border: 1px solid #57d47d;
	outline: none;
}

.search-container {
	margin: 20px 0;
}

.search-container .search-menu {
	padding: 6px 12px;
	font-size: 16px;
	border-radius: 20px;
	border: 1px solid #ccc;
	margin-right: 10px;
}

.search-container div.search-menu {
	padding: 0 12px;
}

#search_container_sub {
	position: relative;
}

#search_key {
	border: none;
	font-size: 16px;
	width: 340px;
	height: 36px;
	background: none;
	color: inherit;
}

#search_key:focus {
	outline: none;
}

#search_key_div {
	margin: 10px 0;
	width: 340px;
}

span.search-menu {
	cursor: pointer;
}

span.search-menu, select.search-menu {
	height: 38px;
	color: #636363;
}

option {
	color: black;
}

#recruiting_filter_label:hover {
	cursor: pointer;
}

/* 체크 되었을 때 label 변경 */
input[id="recruiting_filter"]:checked+label {
	color: #57d47d;
	font-weight: 700;
}

/*스크롤창*/
#scrollable_trigger:hover {
	cursor: pointer;
}

.scrollable {
	position: absolute;
	background-color: white;
	max-height: 300px; /* 원하는 높이로 설정 */
	width: 500px;
	overflow-y: auto; /* 세로 스크롤 활성화 */
	border: 1px solid #ddd;
	padding: 10px; /* 안쪽 여백 추가 (선택 사항) */
	margin-top: 4px;
	border-radius: 10px;
	box-sizing: border-box; /* 패딩과 보더를 포함하도록 설정 */
}

.scrollable li {
	display: flex;
	vertical-align: middle;
}

.scrollable li label {
	margin-left: 4px;
	display: flex;
	vertical-align: middle;
}

.scrollable li label img.hskill-photo {
	margin-right: 2px;
}

#scrollable_trigger {
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	color: #636363;
	height: 36px;
}

#scrollable_trigger .skill-tag {
	font-size: 10pt;
	display: inline-flex; /* flexbox를 사용하여 자식 요소 정렬 */
	align-items: center; /* 자식 요소 수직 정렬 */
	padding: 1px 4px;
	margin: 1px 3px;
	height: 28px;
	background-color: #474747;
	border-radius: 8px;
	color: #fff;
	line-height: 1.5;
	background-color: #474747;
}

#scrollable_trigger .skill-tag .remove-btn {
	color: #eb9696;
	margin-left: 5px; /* 텍스트와 버튼 사이 간격 조절 */
}

/* 스크롤바 스타일 */
.scrollable::-webkit-scrollbar {
	width: 20px;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: grey; /* 회색 스크롤바 */
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid white; /* 스크롤바 사이의 간격을 위해 흰색 테두리 */
}

.scrollable::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
}

.hskill-photo {
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 50px;
}

/* 리스트 */
#r_board {
	display: flex;
	flex-wrap: wrap;
	/* 요소들이 넘치면 다음 줄로 내려갈 수 있도록 설정 */
	justify-content: flex-start;
	/* 요소들을 왼쪽과 오른쪽으로 정렬하여 간격을 두어 배치 */
	margin-bottom: 30px;
	margin: 0 auto;
}

.r-item {
	width: calc(25% - 50px);
	height: 355px;
	margin: 0 5px 20px 5px;
	padding: 16px;
	border: 2px solid var(--gray-4);
	border-radius: 12px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	transition: all .3s ease-in-out;
	position:flex;
}
/* r-item 올렸을 때 스케일 확대 */
.r-item:hover {
	transform: scale(1.03);
}
/* 모집 종료되었을 때 전체 opacity 줄이기 */
.not-recruiting {
	opacity: 0.4;
}

.end_recruit {
opacity: 0.8;
right: 50%;
transform: translateX(60%) translateY(-250%);
padding: 16px;
text-align: center;
width: 35%;
color: #fff;
background-color: #000;
border-radius: 6px;
}

.r-item .r-item-header {
	padding-bottom: 10px;
}

.r-item .rb_category_div {
	margin-bottom: 8px;
}

.r-item .rb_category {
	display: inline-block;
	align-items: center;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 11pt;
	font-weight: 600;
}

.project {
	background: #b1db63;
}

.study {
	background: #f5c33b;
}

.r-item .rb_endRecruit {
	font-size: 10pt;
	font-weight: bold;
	color: var(--gray-4);
}

.r-item div.rb-title {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.3em;
	margin-bottom: 5%;
	font-weight: 600;
	/* 여러 줄 밑줄임표 적용 */ display : -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	display: -webkit-box /* 3번째 줄까지만 글자를 표현하고 그 이후는 줄임 처리 */

}

.r-item .r-item-info {
	font-size: 11pt;
	height: 90px;
}

.r-item .r-item-main {
	font-size: 11pt;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 5%;	
}

.r-item .skill-logo-div {
	margin-bottom: 10px;
}

.r-item .hit-div {
	font-weight: bold;
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	color: var(--gray-5);
}

.r-item .hit-div img {
	width: 15px;
	margin-right: 3px;
	object-fit: contain;
}

/*페이징 버튼*/
.paging-button {
	cursor: pointer;
}

.paging-button input[type="button"] {
	width: calc(100% - 20px);
	display: block;
	padding: 10px 20px;
	border: 2px solid #474747;
	border-radius: 5px;
	background-color: white;
	color: #474747;
	cursor: pointer;
	margin: 0 auto 10px;
	padding: 10px 20px;
}

/* 진행 방식 css */
.field_all {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	max-height: 20px;
}

.proceed_all, .field_all {
	margin-bottom: 4%;
}

.apply_count_all {
	display: flex;
	justify-content: flex-end;
}

.proceed {
	background-color: #e1f7ff;
	border-radius: 20px;
	padding: 2px 8px;
	border-radius: 20px;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
}

.mofield {
	display: inline-block;
	background-color: #bcdef7;
	border-radius: 20px;
	padding: 2px 8px;
	border-radius: 20px;
	font-size: 0.75em;
	font-weight: bold;
	background-color: #bcdef7;
	margin-right: 5px;
}

.apply_count {
	border: 2px solid #f9fc8b;
	border-radius: 20px;
	padding: 4px 8px;
	border-radius: 20px;
	font-size: 0.7em;
	font-weight: bold;
}