@charset "UTF-8";

/*뒤로가기 화살표*/
.feather-arrow-left {
	cursor: pointer;
}

/*프로필 사진*/
.profile-photo {
	width: 40px;
	border-radius: 50px;
}

.btn {
	cursor: pointer;
}

/*하드스킬 로고*/
.skill-logo {
	width: 30px;
	border-radius: 50px;
}

/* 댓글 */
#comment_form {
	margin: 20px;
}

#comment_form .profile-photo {
	width: 5%;
	margin-right: 20px;
}

#comment_form textarea {
	width: 85%;
	padding: 10px;
	border: 2px solid var(--gray-4);
	border-radius: 6px;
}

/********************************
/* 모달 창 관련*/

/* 모달 창 띄웠을 때 배경 고정*/
.modal-on-background {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#r_apply {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(71, 58, 58, 0.8);
}

/********************************
/* 모달 창*/
.r_apply_window {
	background: #ffffff;
	width: 600px;
	position: relative;
	border-radius: 15px;
	max-height: 80vh; /* 최대 높이를 설정 */
	overflow-y: auto; /* 수직 스크롤바를 추가 */
}

/********************************
/*모달 창 제목 바 DIV*/
.r_apply_title {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	background: #5ACA7C;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/*모달 창 제목 글자*/
.r_apply_title h2 {
	font-size: 13pt;
	margin: 0;
	margin-left: 10px;
}

/*메이트 프로필 모달 창 제목의 닫기 버튼*/
.r_apply_close {
	margin-right: 5px;
	cursor: pointer;
	color: black;
}

/********************************
/*모달 창 본문 DIV*/
.content {
	padding: 0px 10px;
	color: black;
}

/********************************/
/*리뷰 쓰기 컨텐츠란 전체 DIV*/
.ra_content_div {
	margin-left: 20px;
	padding-top: 5px;
	margin-right: 20px;
}

.ra_content_div h4 {
	margin: 10px 0 20px 0;
}

/*메이트 프로필에 쓰이는 내용란 (회색 박스) DIV*/
#ra_content {
	border-radius: 8px;
	background: #e0e0e0;
	border-radius: 8px;
	background: #e0e0e0;
	border: none;
	width: 535px;
	height: 300px;
	margin: 0 auto;
	resize: none;
}


.ra_content p {
	padding: 15px;
}

/*****************************/
/*버튼*/
.btn-div {
	display: flex;
	justify-content: center; /* 두 버튼을 좌우로 나란히 정렬합니다 */
	align-items: center; /* 버튼을 수직으로 중앙 정렬합니다 */
	margin-top: 25px;
	margin-bottom: 40px;
}

/*닫기 버튼*/
#close_btn, #apply_btn {
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid #000;
	border-radius: 30px;
	margin: 0 10px; /* 버튼 간격을 조정합니다 */
	font-size: 11pt;
}

#close_btn {
	background: white;
	margin-left: 10px;
	color: black;
}

#apply_btn {
	background: black;
	margin-right: 10px;
	color: white;
}