@charset "UTF-8";

/*페이지 설정*/
.align-center {
	text-align: center;
}

#r_btn_div.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#r_btn_div .btn {
	margin-right: 20px;
	height: 42px;
	border-radius: 20px;
}

/* rboardList */
.category .category-item {
	display: inline;
	width: 50px;
}

.skill-logo {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50px;
}

/* 검색옵션 */
.search-container {
	margin: 20px 0;
}

.search-container .search-menu {
	padding: 6px 12px;
	font-size: 16px;
	border-radius: 20px;
	border: 1px solid #ccc;
	margin-right: 10px;
}

.search-container div.search-menu {
	padding: 0 12px;
}

#search_container_sub {
	position: relative;
}

#search_key_div {
	margin: 10px 0;
	width: 340px;
}

span.search-menu {
	cursor: pointer;
}

span.search-menu, select.search-menu {
	height: 38px;
	color: #636363;
}

span.search-menu.selected, select.search-menu.selected, div.search-menu.selected
	{
	color: #57d47d;
	border: 1px solid #57d47d;
	font-weight: 700;
}

select.search-menu.selected:focus {
	color: #57d47d;
	border: 1px solid #57d47d;
	outline: none;
}

option {
	color: black;
}

/*스크롤창*/
#scrollable_trigger:hover {
	cursor: pointer;
}

.scrollable {
	position: absolute;
	background-color: white;
	max-height: 300px; /* 원하는 높이로 설정 */
	width: 500px;
	overflow-y: auto; /* 세로 스크롤 활성화 */
	border: 1px solid #ddd;
	padding: 10px; /* 안쪽 여백 추가 (선택 사항) */
	margin-top: 4px;
	border-radius: 10px;
	box-sizing: border-box; /* 패딩과 보더를 포함하도록 설정 */
}

.scrollable li {
	display: flex;
	vertical-align: middle;
}

.scrollable li label {
	margin-left: 4px;
	display: flex;
	vertical-align: middle;
}

.scrollable li label img.hskill-photo {
	margin-right: 2px;
}

#scrollable_trigger {
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	color: #636363;
	height: 36px;
}

#scrollable_trigger .skill-tag {
	font-size: 10pt;
	display: inline-flex; /* flexbox를 사용하여 자식 요소 정렬 */
	align-items: center; /* 자식 요소 수직 정렬 */
	padding: 1px 4px;
	margin: 1px 3px;
	height: 28px; background-color : #474747;
	border-radius: 8px;
	color: #fff;
	line-height: 1.5;
	background-color: #474747;
}

#scrollable_trigger .skill-tag .remove-btn {
	color: #eb9696;
	margin-left: 5px; /* 텍스트와 버튼 사이 간격 조절 */
}

/* 스크롤바 스타일 */
.scrollable::-webkit-scrollbar {
	width: 20px;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: grey; /* 회색 스크롤바 */
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid white; /* 스크롤바 사이의 간격을 위해 흰색 테두리 */
}

.scrollable::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
}

.hskill-photo {
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 50px;
}

/* 리스트 */
#r_board {
	display: flex;
	flex-wrap: wrap;
	/* 요소들이 넘치면 다음 줄로 내려갈 수 있도록 설정 */
	justify-content: space-between;
	/* 요소들을 왼쪽과 오른쪽으로 정렬하여 간격을 두어 배치 */
}

.r-item {
	width: calc(25% - 30px); /* 각 요소의 너비를 설정하여 한 줄에 4개씩 표시되도록 함 */
	height: 340px;
	margin-bottom: 20px; /* 요소 사이의 간격을 조절 */
	padding: 10px; /* padding 추가 */
	border: 2px solid var(--gray-4);
	border-radius: 6px;
	cursor: pointer;
}

#search_key {
	border: none;
	font-size: 16px;
	width: 340px;
	height: 36px;
	background: none;
}

#search_key:focus {
	outline: none;
}

/* 댓글 */
#comment_form {
	margin: 20px;
}

#comment_form .profile-photo {
	width: 5%;
	margin-right: 20px;
}

#comment_form textarea {
	width: 85%;
	padding: 10px;
	border: 2px solid var(--gray-4);
	border-radius: 6px;
}