@charset "UTF-8";

/* 테이블 스타일 */
table {
    width: 1180px; 
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* 테이블 셀 스타일 */
td {
    padding: 10px;
    text-align: center;
}

/* 번호 칼럼 스타일 */
td:nth-child(1) {
    width: calc(100px / 590px * 1180px); 
}

/* 제목 칼럼 스타일 */
td:nth-child(2) {
    width: calc(590px / 590px * 1180px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 작성자 칼럼 스타일 */
td:nth-child(3) {
    width: calc(158px / 590px * 1180px);
}

/* 조회수 칼럼 스타일 */
td:nth-child(4) {
    width: calc(100px / 590px * 1180px);
}

/* 작성일 칼럼 스타일 */
td:nth-child(5) {
    width: calc(140px / 590px * 1180px);
}


/* 버튼 컨테이너 스타일 */
.button-container {
    text-align: right;
    margin-bottom: 20px;
}

/* 글쓰기 버튼 스타일 */
.write-button {
    display: inline-block;
    font-weight : bold;
    font-size : 13px;
    padding: 10px 20px;
    background-color: var(--primary-clr);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.write-button:hover {
    color:#000;
}