@charset "utf-8";


/* 팀 설정 CSS */
#mem_container {
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    color: #3D3D3D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    max-height: calc(100vh - 100px);
}

body {
    overflow-y: auto;
    margin: 0;
}

.mem_personal {
    position: relative;
    width: 300px;
    height: 200px;
    padding: 20px;
    color: #3D3D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     margin-bottom: 40px; /* 아래쪽 간격 */
    margin-right: 40px; /* 오른쪽 간격 */
}

.mem-personal:last-child {
    margin-bottom: 0;
}

.mem_personal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.team_mem_profile_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* 팀 설정 아이콘 버튼  */
.team_setting_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.setting_btn {
    width: 100%;
    height: 100%;
}

/* 팀원/팀장, 닉네임 스타일 */
.team_mem_status {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.team_mem_nickname {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}


/* 드롭 다운 메뉴 */
.dropdown_menu {
    display: none; 
    position: absolute;
    top: 20px; 
    left: 100%;
    margin-left: 10px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
}

.dropdown_menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
}

.dropdown_menu a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* 팀원 삭제 글꼴 스타일 */
#mem_delete_btn {
    color: #FF4934;
}
/* 팀장 위임 글꼴 스타일 */
#mem_auth_btn {
    color: #326BFF;
}
/* 리뷰 쓰기 글꼴 스타일 */
.dropdown_menu a.review-link {
    color: #969696;
}

#mate_review {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(71, 58, 58, 0.8);
	z-index : 11000;
}

/********************************
/* 모달 창*/
.mate_review_window {
    background: #ffffff;
    width: 600px;
    position: relative;
    border-radius: 15px;
    max-height: 80vh; /* 최대 높이를 설정 */
    overflow-y: auto; /* 수직 스크롤바를 추가 */
    z-index : 11000;
}

/********************************
/*모달 창 제목 바 DIV*/
.mate_review_title {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	background: #5ACA7C;
	border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

/*모달 창 제목 글자*/
.mate_review_title h2 {
	font-size: 13pt;
	margin:0;
	margin-left:10px;
}

/*메이트 프로필 모달 창 제목의 닫기 버튼*/
.mate_review_close {
	cursor: pointer;
	color: black;
}

/********************************
/*모달 창 본문 DIV*/
.content {
	margin-top: 20px;
	padding: 0px 10px;
	color: black;
}

/********************************
/* 프로필 (닉네임, 프사 있는 곳) DIV*/
.mate_review_profile {
	display: flex;
	align-items: center;
	height: 80px;
	padding-bottom: 20px;
}

/* 사용자 프사 */
.profile_image {
	margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* 동그라미 모양으로 설정 */
}

/*닉네임, 아이디 있는 div*/
.mr_account_nickname {
    margin-left: 15px;
}

.user_info {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
}

.user_nickname {
    color: black;
    font-size: 14pt;
    font-weight: bold;
    margin-right: 5px; /* 이름과 레벨 사이의 간격 조정 */
}

.user_level {
    font-weight: bold;
    background-color: #ccf7d9;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    width: 30px; /* 너비 조정 */
    height: 30px; /* 높이 조정 */
    text-align: center;
}
.mr_account_nickname a{
	text-decoration: none;
}
.user_id {
    color: #32B0FF;
}

#share_img {
    width: 3%;
    height: 3%;
}



/********************************/
/*리뷰 쓰기 컨텐츠란 전체 DIV*/
.mr_content_div {
	margin-left: 20px;
	padding-top: 5px;
	margin-right: 20px;
}

/*메이트 프로필에 쓰이는 내용란 (회색 박스) DIV*/
.mr_content {
	border-radius: 8px;
	background: #e0e0e0;
}

.mr_content p{
	padding: 15px;
}

#mr_content{
	border-radius: 8px;
	background: #e0e0e0;
	border-radius: 8px;
	background: #e0e0e0;
	border : none;
	width: 535px;
	height: 300px;
	margin: 0 auto;
}


/*****************************/
/*버튼*/
.btn-div {
    display: flex;
    justify-content: space-between; /* 두 버튼을 좌우로 나란히 정렬합니다 */
    align-items: center; /* 버튼을 수직으로 중앙 정렬합니다 */
    margin-top: 25px;
    margin-bottom: 40px;
    
}


/*닫기 버튼*/
#close-btn, #submit-btn {
	background: black;
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;	
	text-align: center;
	border-radius: 30px;
	margin: 0 10px; /* 버튼 간격을 조정합니다 */
}

#close-btn {
	margin-right: 10px;
}

#submit-btn{
	margin-left: 10px;
}

#close-btn, #submit-btn {
	color: white;
	 font-size: 14pt; 
}