@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 3%;
}

.write-button {
	margin-right: 6%;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 20px;
    background-color: #ACE4BD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.write-button:hover {
    color: #000;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center; /* 테이블을 중앙에 위치 */
}

table {
    width: 100%;
    max-width: 1180px; /* 테이블 최대 너비 설정 */
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* 칼럼 너비 설정 */
td:nth-child(1) {
    width: 100px;
}

td:nth-child(2) {
    width: 590px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(3) {
    width: 158px;
}

td:nth-child(4) {
    width: 100px;
}

td:nth-child(5) {
    width: 140px;
}
