@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 글 쓰기 버튼 */
.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 3%;
}

.write-button {
    margin-right: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 20px;
    background-color: #ACE4BD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.write-button:hover {
    color: #000;
}

/* 작성된 테이블 */
.table-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; /* 테이블 간 간격 */
}

.table-container h2 {
    align-self: flex-start;
    margin-bottom: 10px; /* 제목과 테이블 간 간격 */
}

table {
    width: 100%;
    max-width: 1180px;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* 공지사항 강조 */
tr.notice {
    background-color: #FFFAE6;
    font-weight: bold;
}

/* 칼럼 너비 설정 */
td:nth-child(1) {
    width: 100px;
}

td:nth-child(2) {
    width: 590px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(3) {
    width: 158px;
}

td:nth-child(4) {
    width: 100px;
}

td:nth-child(5) {
    width: 140px;
}

/* 서치 박스 컨테이너 */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    max-width: 100%;
}

.search-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 14px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 14px;
    width: 30%; 
}

.search-submit {
    padding: 8px 16px;
    background-color: #326BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}
